*.egg-info
*.pot
*.py[co]
.tox/
__pycache__/
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
migrations
db.sqlite3
*.sqlite3
.cache

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

#NODE file
node_modules/
