body {
    padding-top: 54px;
    background-color: #F9F9F9;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

hr.dashed {
    border-style: dashed;
    border-color: green;
}

.dashed-right{
    border-right: 1px dashed red;
}
.r-card{
	background-color: white;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.card_header{
  color: #aaa;
}
.card_header span{
  padding-left: 6px;
  padding-right: 6px;
}
.card_header i{
  margin-right: 0.3rem;
}

a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
  display: table;
  clear: both;
}

.blog-comment ul{
  list-style-type: none;
  padding: 0;
}

.blog-comment img{
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
      border-radius: 4px;
}


.blog-comment img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 42px;
  height: 42px;
}

.blog-comment .post-comments{
  border-left: 1px solid #eee;
  /*margin-bottom: 10px;*/
  margin-left: 45px;
  margin-right: 0px;
  padding: 5px 10px;
  position: relative;
  background: #fff;
  position: relative;
}

.blog-comment .meta {
  font-size: 14px;
}

.blog-comment .meta a{
  font-weight: 600;
}

.blog-comment .meta small {
    color: #aaa;
}

.blog-comment p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.comment_content{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 14px;
  font-size: 14px;
}
.comment_action a{
  color: #aaa;
  font-size: 12px;
}
.comment_content a{
  text-decoration: none;
  color:;
}
.blog-comment ul.comments ul{
  list-style-type: none;
  padding: 0;
  margin-left: 45px;
}

.blog-comment-form{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}

