{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="/media/png/102.png">

    <title>{{ title|title }} | Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"> The New Dajngo </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="create/">create post </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{ request.user }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/logout/">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/account/login/">login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}   
    <!-- Footer -->
    <footer class="py-5 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% block jsContent %}
    {% endblock %}

    <script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
    <script type="text/javascript" src="http://bootstrap-notify.remabledesigns.com/js/bootstrap-notify.min.js"></script>

    <!-- markdown js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".markdown_content").each(function () {
                var content =$(this).text();
                var makeT = marked(content);
                $(this).html(makeT);
            })
            $(".markdown_content img").each(function () {
                $(this).addClass("img-fluid rounded");
            })
            $("wmd-panel wmd-preview img").each(function () {
                $(this).addClass("img-fluid rounded");
            })
        })
    </script>

    <!-- social actions  -->
    <script type="text/javascript"> 
      $(document).on('click','.social',function(e) {
        e.preventDefault();
        var title = $(this).parent().parent().parent().find("h2").text();
        var summary=$(this).parent().parent().parent().find(".card-text").text()
        var link =window.location.hostname+$(this).attr("href");
        var name = $(this).attr("name");
        var shareTitle="I'm going to learn to Code... "
        var url =""
        switch (name) {
          case "facebook":
              url="https://www.facebook.com/sharer/sharer.php?u="+link;
              break;
          case "twitter":
              url="https://twitter.com/home?status="+shareTitle+" "+link;
              break;
          case "linkedin":
              url ="https://www.linkedin.com/shareArticle?mini=true&url="+link+"&title="+title+"&summary="+summary+"&source=https://www.djangoproject.com/"
              break;
          case "google+":
              url ="https://plus.google.com/share?url="+link;
              break;
          case "reddit":
              url="http://www.reddit.com/submit?url="+link+"&title="+title;
              break;
          }
          document.location.replace(url);
      });
    </script>

    <!-- auto resize textbox -->
    <script type="text/javascript" src="http://www.jacklmoore.com/js/autosize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        autosize($('textarea'));
      })
    </script>
  </body>

</html>