{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="m-5">
	<div class="row"> 
		<div class="col-md-3">
		</div>
		<div class="col-md-6 r-card">
			<dir class="m-5">
				<h2>Form for {{ title }}</h2>
				<hr class="dashed">
				<form method="post" action="?next={{ next }}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form | crispy }}
					<button class="btn btn-success" type="submit"> Login  </button>
				</form>
			</dir>
		</div>
	</div>
</div>
{% endblock %}