{% extends "base.html" %}
{% load crispy_forms_tags %} 
<!-- Page Content -->
{% load staticfiles %} {% block content %}
<!-- Post Content Column -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-8">
            <div class="card my-4">
                <div class="card-body">
                    <!-- Title -->
                    <h1 class="mt-4 text-center">{{ post.title | title }}</h1>
                    <hr class='dashed'>
                    <div class="text-center card_header">
                        <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ post.timestamp|date:"M d Y" }} 
                      </span>
                        <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {% if post.user.first_name %}
                        {{ post.user.first_name }} {{ post.user.last_name }}
                        {% else %}
                        {{ post.user }}
                        {% endif %}
                      </span>
                      <span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ post.read_time }} minutes  
                      </span>
                        <span>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        {{ comments_count }} comments
                      </span>
                      <span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{ post.views|add:1 }} views 
                      </span>
                    </div>
                    {% if post.image %}
                    <hr class='dashed'>

                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="{{ post.image.url }}" alt="{{ post.title }} image"> {% endif %}
                    <hr class='dashed'>

                    <!-- Post Content -->
                    <div class="markdown_content">{{ post.content }}</div>
                    <hr class="dashed">

                    <!-- social sharing and tag -->
                    <div class="row">
                        <div class="tags text-center col-sm-6">
                            {% for tag in post.tags.all %}
                            <a href="/?tag={{ tag.name }}&" class="btn-sm tagsearch btn line-tag btn-outline-{% cycle 'primary' 'success' 'info' 'warning' 'danger' 'secondary' as class %}">
                            {{ tag.name|upper }}
                            </a>
                            {% endfor %}
                        </div>
                        <div class="text-center col-sm-6">
                            <a href="{{ post.get_absolute_url }}" name="reddit" class="btn btn-danger btn-circle social btn-lg">
                                <i style="color: #fff;" class="fa fa fa-reddit-alien 2x"></i>
                            </a>
                            <a href="{{ post.get_absolute_url }}" name="facebook" style="color: #fff;" class="btn social btn-primary btn-circle btn-lg">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="{{ post.get_absolute_url }}" name="twitter" class="btn w3-indigo social btn-circle btn-lg">
                                <i style="color: #fff;" class="fa fa-twitter 2x"></i>
                            </a>
                            <a href="{{ post.get_absolute_url }}" name="linkedin" class="w3-blue btn social btn-circle btn-lg">
                                <i style="color: #fff;" class="fa fa-linkedin 5x"></i>
                            </a>
                            <a name="google+" href='{{ post.get_absolute_url }}' class="btn btn-danger social btn-circle btn-lg">
                                <i class="fa fa-google-plus 2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Comments -->
            <div class="my-4 card"> 
                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-comment">
                                <div id="comments" class="comments">
                                    <center>
                                        <img src="https://lingojam.com/img/loading_nice.gif" height="100px">
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br>
            <!-- /comments -->
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            {% if request.user.is_authenticated %}
            <div class="card my-4">
              <h5 class="w3-text-green"> Actions </h5>
              <div class="card-body">
                <hr class="dashed mt-0">
                <div class="centerD">
                    <a class="btn btn-sm btn-outline-info m-1" href="#">Hide Post</a>
                    <a class="btn btn-sm btn-outline-warning m-1" href="{% url 'posts:update' post.slug %}">Edit Post</a>
                    <a class="btn btn-sm btn-outline-danger m-1" href="{% url 'posts:delete' post.slug %}">Delete Post</a>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="card my-4">
              <h5 class="w3-text-green">Search</h5>
              <div class="card-body">
                <hr class="dashed mt-0">
                  <form method="GET" actions="{% url 'posts:list' %}?">
                    <div class="input-group">
                      <input type="text" name="search" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Go!</button>
                      </span>
                    </div>
                  </form>
              </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="w3-text-green">Categories (Tags)</h5>
              <div class="card-body">
                <hr class="dashed mt-0">
                <div class="row">
                  <div class="text-center">
                    <ul class="list-unstyled nav mb-0">
                      {% for tag in tags %}
                      <li class="p-1 {% cycle 'primary' 'success' 'info' 'warning' 'danger' 'secondary' as class %}">
                        <a class="btn btn-sm btn-outline-{{ class }}" href="/?tag={{ tag.name }}&">{{ tag.name|upper }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
              <h5>Side Widget</h5>
              <div class="card-body">
                <hr class="dashed mt-0">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
</div>

<!-- /.container -->

{% endblock %} 
{% block jsContent %}
<script type="text/javascript">
    //  commet js  -----------------------------------------------------------------------------
    function get_comments() {
        $.ajax({
            method: "GET",
            url: "/comments/{{ post.id }}/{{ post.slug }}/",
            success: function(data) {
                document.getElementById("comments").innerHTML = data;
            },
            error: function(data) {
                console.log("error")
                console.log(data)
            }
        })
    }
    {% if request.user.is_authenticated %}
    function reply(fid) {
        var ffid = "#p-" + fid
        $(ffid).slideToggle();
        var url = '/comments/{{ post.slug }}/' + fid;
        $.ajax({
            type: "GET",
            url: url,
            success: function(data) {
                $(ffid).html(data);
            }
        });
    }

    $(document).on('click', '.submit-btn', function(e) {
        var fid = "#" + $(this).parents('form:first').attr('id');
        var url = "/api/comments/create/";
        $.ajax({
            type: "POST",
            url: url,
            data: $(fid).serialize(),
            success: function(data) {
                get_comments();
                $(fid).closest('form').find("input[type=text], textarea").val("");
            }
        });
        e.preventDefault();
    });

    $(document).on('click', '.update-btn', function(e) {
        var fid = "#" + $(this).parents('form:first').attr('id');
        var url = $(this).parents('form:first').attr('action');
        // alert(url);
        $.ajax({
            type: "PUT",
            url: url,
            data: $(fid).serialize(),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data) {
                get_comments();
            }
        });
        e.preventDefault();
    });

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function delete_comment(url) {
        if (!confirm("delete it ?")) {
            return 0;
        }
        $.ajax({
            type: "DELETE",
            url: url,
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data) {
                get_comments();
            }
        });
    }

    // $(document).on('click', '.activity-btn', function(e) {
    //     e.preventDefault();
    //     url = $(this).attr("link");
    //     $.ajax({
    //         type: 'POST',
    //         url: url,
    //         beforeSend: function(xhr) {
    //             xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    //         },
    //         success: function(data) {
    //             get_comments();
    //         }
    //     });
    // });

    function get_edit_form(arg) {
        $(arg).slideToggle();
    }
    {% else %}
    $(document).on('click', '.activity-btn', function(e) {
        e.preventDefault();
        $.notify(" login first then vote it ");
    });
    {% endif %}
    $(document).ready(get_comments);
</script>

<script type="text/javascript">  

//  NEW API HANDLER USING JQUERY
$(document).on('click','.activity-btn',function(event) {
    event.preventDefault();
    url = $(this).attr("link");
    var current_acivity = $(this).parent().attr("class");
    var action = "";
    var p = $(this).parent().parent();
    var th  = $(this);
    $.ajax({
        type: 'POST',
        url: url,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
        },
        success: function(data) {
            action = data;
            var c_obj = th.find("span.vote-value");
            var c_value = parseInt(c_obj.text());
            th.find("i").removeClass("text-danger text-success");
            c_obj.html(c_value-1);
            switch (action) {
              case "DE":
                  break;
              case "D":
                  c_obj.html(c_value+1);
                  p.find("span.D").find("i").addClass("text-danger");
                  sb = p.children("span.U");
                  if (sb.find("i").hasClass("text-success")){
                                      sb.find("i").removeClass("text-success");
                                      var now = sb.find("span.vote-value");
                                      now.html(parseInt(now.text())-1);
                                      }
                  break;
              case "U":
                  c_obj.html(c_value+1);
                  p.find("span.U").find("i").addClass("text-success");
                  sb = p.children("span.D");
                  if (sb.find("i").hasClass("text-danger")){
                                      sb.find("i").removeClass("text-danger");
                                      var now = sb.find("span.vote-value");
                                      now.html(parseInt(now.text())-1);
                                      }
                  break;
              case "F":
                  c_obj.html(c_value+1);
                  th.find("i").addClass("text-danger");
                  break;
              }
        }
    });
})
</script>


{% endblock %}