{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
<!-- Page Content -->
{% load staticfiles %} {% block content %}
<!-- Post Content Column -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-8">
            <div class="card my-4">
                <div class="card-body">
                    <!-- Title -->
                    <h1 class="mt-4 text-center">{{ post.title | title }}</h1>

                    <hr class='dashed'>
                    <!-- Date/Time -->
                    <p>Posted on {{ post.timestamp }}</p>
                    {% if post.image %}

                    <hr class='dashed'>

                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="{{ post.image.url }}" alt="{{ post.title }} image"> {% endif %}
                    <hr class='dashed'>

                    <!-- Post Content -->
                    <div class="">{{ post.content|markdown }}</div>
                    <hr class="dashed">
                    <!--  Comment -->
                    <div class="container bootstrap snippet">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-comment">
                                    <h4 class="text-success">Leave A Comment</h3>

                <!-- form for new commment -->
                <form action="" id="commenti"  method="post">
                  {% csrf_token %}
                  {{ comment_form|crispy }}
                  <button type="submit" class="btn btn-primary submit-btn"> comment </button>
                </form>
                <p id="form_mgs"></p>
                <hr class="dashed">
                <ul id="comments" class="comments"> 
                  <center><img src="https://lingojam.com/img/loading_nice.gif" height="100px"></center>
                </ul>
              </div>
              </div>
            </div>
        </div>

      </div>
    </div>
    <br/><br/>
    </div>
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">Web Design</a>
              </li>
              <li>
                <a href="#">HTML</a>
              </li>
              <li>
                <a href="#">Freebies</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">JavaScript</a>
              </li>
              <li>
                <a href="#">CSS</a>
              </li>
              <li>
                <a href="#">Tutorials</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Side Widget</h5>
      <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
      </div>
    </div>
  </div>
  </div>
  <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock %}
{% block ang %}

<script type="text/javascript">

function get_comments() {
  $.ajax({
      method: "GET",
      url: "/comments/{{ post.id }}/",
      success: function (data) {
          document.getElementById("comments").innerHTML=data;
      },
      error: function(data){
          console.log("error")
          console.log(data)
      }
  })
}


function reply(fid) {
  var ffid="#p-"+fid
  $(ffid).slideToggle();
  var url='/comments/{{ post.slug }}/'+fid;
  $.ajax({
    type: "GET",
    url: url,
    success: function(data)
    {
      $(ffid).html(data);
    }
  });
}

$(document).on('click', '.submit-btn', function (e) {
  var fid = "#"+$(this).parents('form:first').attr('id');
  var url = "/api/comments/create/"; 
  $.ajax({
         type: "POST",
         url: url,
         data: $(fid).serialize(), 
         success: function(data)
         {
            get_comments();
            $(fid).closest('form').find("input[type=text], textarea").val("");
         }
       });
  e.preventDefault(); 
});

$(document).on('click', '.update-btn', function (e) {
  var fid = "#"+$(this).parents('form:first').attr('id');
  var url = $(this).parents('form:first').attr('action');
  // alert(url);
  $.ajax({
         type: "PUT",
         url: url,
         data: $(fid).serialize(), 
         beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
          },
         success: function(data)
         {
            get_comments();
         }
       });
  e.preventDefault(); 
});

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function delete_comment(url) {
  if(!confirm("delete it ?")){
        return 0;
    }
 $.ajax({
         type: "DELETE",
         url: url,
         beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
          },
         success: function(data)
         {
            get_comments();
         }
       });
}

$(document).on('click', '.activity-btn', function (e) {
  e.preventDefault();
  url = $(this).attr("link");
  $.ajax({
         type: 'POST',
         url: url, 
         beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
          },
         success: function(data)
         {
            get_comments();
         }
       });
});


function get_edit_form(arg) {
  $(arg).slideToggle();
}

$(document).ready(get_comments);
</script>
{% endblock %}