{% extends "base.html" %}
<!-- Page Content -->
{% load staticfiles %}
{% block content %}
    <!-- Post Content Column -->
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-8">
    <div class="card my-4">
    <div class="card-body">
      <!-- Title -->
      <h1 class="mt-4 text-center">{{ post.title | title }}</h1>

      <hr class='dashed'>
      <!-- Date/Time -->
      <p>Posted on {{ post.timestamp }}</p>
      {% if post.image %}

      <hr class='dashed'>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{ post.image.url }}" alt="{{ post.title }} image">
      {% endif %}
      <hr class='dashed'>

      <!-- Post Content -->
      <div class="">{{ post.content }}</div>
      <hr class='dashed'>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!--  Comment -->
      <hr class="dashed">
      <button class="getComment"> comments load</button>

        <div class="container bootstrap snippet">
          <div class="row">
            <div class="col-md-12">
              <div class="blog-comment">
                <h3 class="text-success">Comments</h3>
                <hr/>
                <ul id="comments" class="comments"> 
                </ul>
              </div>
              </div>
            </div>
        </div>
  
      </div>
    </div>
    <br/><br/>
    </div>
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">Web Design</a>
              </li>
              <li>
                <a href="#">HTML</a>
              </li>
              <li>
                <a href="#">Freebies</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">JavaScript</a>
              </li>
              <li>
                <a href="#">CSS</a>
              </li>
              <li>
                <a href="#">Tutorials</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Side Widget</h5>
      <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
      </div>
    </div>
  </div>
  </div>
  <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock %}
{% block ang %}
<!-- <script type="text/javascript" src="{% static '/js/ang-app/post-details.js' %}"></script> -->

<script type="text/javascript">
  $(document).ready(function(){
    $(".getComment").click(function(){
        $.ajax({
            method: "GET",
            url: "/comments/{{ post.id }}/",
            success: function (data) {
                document.getElementById("comments").innerHTML=data;
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
    });
  });

</script>
{% endblock %}